body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem; }

.logo {
  color: white;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2rem;
  margin-left: 10px;
  margin-top: 5px; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav ul {
    display: flex; }
  nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 25px; }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem; }
  nav li:hover {
    background-color: grey; }

.banner {
  background-image: url("../images/barber.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.services, .rates, .book {
  padding-bottom: 100px; }

h1 {
  font-size: 6rem;
  color: white;
  font-family: 'Sedgwick Ave Display', cursive;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 6px 20px; }

.services {
  width: 100%;
  height: auto;
  background-image: url("../images/concrete-texture.png"); }

.services-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start; }

.services > p {
  margin: 0 auto;
  width: 85%;
  padding-bottom: 60px; }

.box {
  height: 300px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  overflow: hidden;
  margin: 20px; }

h2 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  margin: 0;
  padding: 90px 0px;
  color: black;
  font-family: 'Sedgwick Ave Display', cursive; }

.box1 {
  background-image: url("../images/img01.jpg");
  background-size: cover; }

.box2 {
  background-image: url("../images/img03.jpg");
  background-size: cover; }

.box3 {
  background-image: url("../images/img02.jpg");
  background-size: cover; }

.box4 {
  background-image: url("../images/img04.jpg");
  background-size: cover; }

.box5 {
  background-image: url("../images/img06.jpg");
  background-size: cover; }

.box6 {
  background-image: url("../images/img05.jpg");
  background-size: cover; }

.box > p {
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8); }

.rates h2 {
  color: white; }

.rates {
  background-color: black; }

.rates-wrapper {
  /* background-image: url('../images/blackboard.jpg'); */
  padding: 5px 20px;
  width: 30%;
  margin: 0 auto; }

.rates-wrapper > p {
  font-size: 2rem;
  color: white;
  font-family: 'Freckle Face', cursive;
  line-height: 2rem;
  text-align: center; }

.location {
  text-align: center; }

table {
  font-size: 1.3rem;
  margin: 0 auto; }

tr, td, table {
  border: 1px solid black; }

td {
  padding: 20px; }

tr {
  background-color: lightgray; }

tr:nth-of-type(odd) {
  background: darkgray; }

footer {
  text-align: center;
  padding: 5px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.75);
  font-size: 1rem; }

.calendly-inline-widget {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black; }

/*# sourceMappingURL=styles.css.map */
